header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  height: 10vh;
  background-color: var(--background);
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  color: #000;
}

nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--accent);
  transition: width 0.3s ease;
}

nav > ul > li > a:hover::after {
  width: 100%;
}

nav > i:hover {
  cursor: pointer;
  color: var(--accent);
}

/* Móvil */
@media (max-width: 599px) {
  header {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 12px;
  }
  header > nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
